{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Builder</title>

    <link rel="stylesheet" href="{% static 'buildresume/home.css' %}">
</head>
<body>

    

<div class="main-container">

    <!-- Sidebar -->

    <div class="sidebar">

        <h2>Resume Builder</h2>

        <ul>

            <li onclick="showSection('personal')">
                Personal Details
            </li>

            <li onclick="showSection('education')">
                Education
            </li>

            <li onclick="showSection('skills')">
                Skills
            </li>

            <li onclick="showSection('experience')">
                Professional Experience
            </li>

            <li onclick="showSection('projects')">
                Projects
            </li>

           <li onclick="window.location.href='{% url 'ResumeShowCase' %}'">
    Show Resume
</li>


        </ul>

    </div>


    <!-- Content -->

    <div class="content">

        <!-- PERSONAL DETAILS -->

<div class="section active" id="personal">

    <h1>Personal Details</h1>
    

   
    <form method="POST" action="{% url 'personal_details' %}">

    


        {% csrf_token %}

        <div class="input-group">
            <label>Full Name</label>
            <input type="text" name="full_name" value="{{personal_details.FullName}}">
        </div>
        <div class="row">
        <div class="input-group">
            <label>Location</label>
            <input type="text" name="location" value="{{personal_details.Location}}">
        </div>

        <div class="input-group">
            <label>Mobile</label>
            <input type="text" name="mobile" value="{{personal_details.mobile}}">
        </div>

        <div class="input-group">
            <label>Email</label>
            <input type="email" name="email" value="{{personal_details.email}}">
        </div>
        </div>
        <div class="row">
        <div class="input-group">
            <label>LinkedIn</label>
            <input type="url" name="linkedin" value="{{personal_details.linkedIn}}">
        </div>

        <div class="input-group">
            <label>GitHub</label>
            <input type="url" name="github" value="{{personal_details.gitLink}}">
        </div>
        </div>

        <div class="input-group">
            <label>Professional Summary</label>
            <textarea name="summary" >{{personal_details.professionSummary}}</textarea>
        </div>

        <button type="submit" class="submit-btn">
           {% if personal_details %} Update 
           {%else%}
           Save 
           {%endif%} Personal Details
        </button>

    </form>

</div>



<!-- EDUCATION -->

<div class="section" id="education">

    <h1>
        Education
        
    </h1>

   <form method="POST" action="{% url 'education_details' %}">
    {% csrf_token %}

    <div id="education-container">
        {% if education_details %}
            {% for education in education_details %}
            <div class="card">
                <div class="input-group">
                    <label>Course</label>
                    <input type="text" name="course" value="{{ education.course }}">
                </div>

                <div class="row">
                    <div class="input-group">
                        <label>From</label>
                        <input type="date" name="edu_from" value="{{ education.edu_from|date:'Y-m-d' }}">
                    </div>
                    <div class="input-group">
                        <label>To</label>
                        <input type="date" name="edu_to" value="{{ education.edu_to|date:'Y-m-d' }}">
                    </div>
                </div>

                <div class="row">
                    <div class="input-group">
                        <label>College Name</label>
                        <input type="text" name="college" value="{{ education.college }}">
                    </div>
                    <div class="input-group">
                        <label>CGPA / Percentage</label>
                        <input type="text" name="cgpa" value="{{ education.cgpa }}">
                    </div>
                    
                </div>
                {% if not forloop.first %}
                    <button type="button" class="delete-btn" onclick="removeCard(this)">Delete</button>
                    {% endif %}
            </div>
            {% endfor %}
        {% else %}
            <!-- Show one blank card if no records exist -->
            <div class="card">
                <div class="input-group">
                    <label>Course</label>
                    <input type="text" name="course">
                </div>

                <div class="row">
                    <div class="input-group">
                        <label>From</label>
                        <input type="date" name="edu_from">
                    </div>
                    <div class="input-group">
                        <label>To</label>
                        <input type="date" name="edu_to">
                    </div>
                </div>

                <div class="row">
                    <div class="input-group">
                        <label>College Name</label>
                        <input type="text" name="college">
                    </div>
                    <div class="input-group">
                        <label>CGPA / Percentage</label>
                        <input type="text" name="cgpa">
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <button type="button" class="add-btn" onclick="addEducation()">Add Education</button>
    <button type="submit" class="submit-btn">Save Education</button>
</form>

</div>



<!-- SKILLS -->

<div class="section" id="skills">

    <h1>
        Skills
        
    </h1>

    <form method="POST" action="{%url 'skills_details' %}">

        {% csrf_token %}

        <div id="skills-container">

            {% if skills_details %}

            {% for skill in skills_details %}

            <div class="card">

                <div class="row">

                    <div class="input-group">
                        <label>Skill Category</label>
                        <input type="text" name="key" value="{{skill.key}}" placeholder="Programming langguages">
                    </div>

                    <div class="input-group">
                        <label>Skills</label>
                        <input type="text" name="value" value="{{skill.value}}" placeholder="Python, Java, c etc">
                    </div>

                </div>
                {% if not forloop.first %}
                    <button type="button" class="delete-btn" onclick="removeCard(this)">Delete</button>
                {% endif %}

            </div>
           

            


            {% endfor %}

            {% else %}

            <div class="card">

                <div class="row">

                    <div class="input-group">
                        <label>Skill Category</label>
                        <input type="text" name="key" placeholder="Programming langguages">
                    </div>

                    <div class="input-group">
                        <label>Skills</label>
                        <input type="text" name="value" placeholder="Python, Java, c etc">
                    </div>

                </div>

            </div> 
           

            {% endif %}

        </div>
 <button type="button" class="add-btn" onclick="addSkill()">
            Add Skills
        </button>
        <button type="submit" class="submit-btn">
            Save Skills
        </button>

    </form>

</div>



<!-- EXPERIENCE -->

<div class="section" id="experience">

    <h1>
        Professional Experience
        
    </h1>

    <form method="POST" action="{% url 'professional_details' %}">

        {% csrf_token %}

       <div id="experience-container">
    {% if professional_details %}
        {% for experience in professional_details %}
            <div class="card">
                <div class="input-group">
                    <label>Company Name</label>
                    <input type="text" name="company" value="{{ experience.company }}">
                </div>
                <div class="input-group">
                    <label>Location</label>
                    <input type="text" name="company_location" value="{{ experience.location }}">
                </div>
                <div class="row">
                    <div class="input-group">
                        <label>From</label>
                        <input type="date" name="exp_from" value="{{ experience.exp_from|date:'Y-m-d' }}">
                    </div>
                    <div class="input-group">
                        <label>To</label>
                        <input type="date" name="exp_to" value="{{ experience.exp_to|date:'Y-m-d' }}">
                    </div>
                </div>
                <div class="input-group">
                    <label>Description</label>
                    <textarea name="experience_description" maxlength="300">{{ experience.description }}</textarea>
                </div>
                {% if not forloop.first %}
                    <button type="button" class="delete-btn" onclick="removeCard(this)">Delete</button>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class="card">
            <div class="input-group">
                <label>Company Name</label>
                <input type="text" name="company">
            </div>
            <div class="input-group">
                <label>Location</label>
                <input type="text" name="company_location">
            </div>
            <div class="row">
                <div class="input-group">
                    <label>From</label>
                    <input type="date" name="exp_from">
                </div>
                <div class="input-group">
                    <label>To</label>
                    <input type="date" name="exp_to">
                </div>
            </div>
            <div class="input-group">
                <label>Description</label>
                <textarea name="experience_description" maxlength="300"></textarea>
            </div>
        </div>
    {% endif %}
</div>
 <button type="button" class="add-btn" onclick="addExperience()">
            Add Experience
        </button>

        <button type="submit" class="submit-btn">
            Save Experience
        </button>

    </form>

</div>



<!-- PROJECTS -->

<div class="section" id="projects">

    <h1>
        Projects
       
    </h1>

  <form method="POST" action="{% url 'project_details' %}">
    {% csrf_token %}

    <div id="projects-container">
        {% if project_details %}
            {% for project in project_details %}
            <div class="card">
                <div class="input-group">
                    <label>Project Name</label>
                    <input type="text" name="project_name" value="{{ project.name }}">
                </div>

                <div class="input-group">
                    <label>Description</label>
                    <textarea name="project_description">{{ project.description }}</textarea>
                </div>

                {% if not forloop.first %}
                <button type="button" class="delete-btn" onclick="removeCard(this)">Delete</button>
                {% endif %}
            </div>
            {% endfor %}
        {% else %}
            <!-- Show one blank card if no records exist -->
            <div class="card">
                <div class="input-group">
                    <label>Project Name</label>
                    <input type="text" name="project_name">
                </div>

                <div class="input-group">
                    <label>Description</label>
                    <textarea name="project_description"></textarea>
                </div>
            </div>
        {% endif %}
    </div>

    <button type="button" class="add-btn" onclick="addProject()">Add Project</button>
    <button type="submit" class="submit-btn">Save Projects</button>
</form>


</div>

    </div>

</div>
{% if messages %}
<script>
    {% for message in messages %}
    alert("{{ message }}");
    {% endfor %}
</script>
{% endif %}


<script>


    


    function showSection(sectionId){

        const sections = document.querySelectorAll('.section');

        sections.forEach(section => {
            section.classList.remove('active');
        });

        document.getElementById(sectionId).classList.add('active');
    }
    function removeCard(button){

button.parentElement.remove();

}

    function addEducation(){

let container = document.getElementById('education-container');

let html = `

<div class="card">
    

    <div class="input-group">
        <label>Course</label>
        <input type="text" name="course" required>
    </div>

    <div class="row">

        <div class="input-group">
            <label>From</label>
            <input type="date" name="edu_from" required>
        </div>

        <div class="input-group">
            <label>To</label>
            <input type="date" name="edu_to" required>
        </div>

    </div>
    <div class="row">
    <div class="input-group">
        <label>College Name</label>
        <input type="text" name="college" required>
    </div>

    <div class="input-group">
        <label>CGPA / Percentage</label>
        <input type="text" name="cgpa" required>
    </div>
    </div>
    <button type="button"
                class="delete-btn"
                onclick="removeCard(this)">
            Delete
        </button>

</div>

`;

container.insertAdjacentHTML('beforeend', html);
}
function addSkill(){

let container = document.getElementById('skills-container');

let html = `

<div class="card">

    <div class="row">

        <div class="input-group">
            <label>Skill Category</label>
            <input type="text" name="key" required>
        </div>

        <div class="input-group">
            <label>Skills</label>
            <input type="text" name="value" required>
        </div>

    </div>
    <button type="button"
                class="delete-btn"
                onclick="removeCard(this)">
            Delete
    </button>

</div>
`;

container.insertAdjacentHTML('beforeend', html);
}



function addExperience(){

let container = document.getElementById('experience-container');

let html = `

<div class="card">

    <div class="input-group">
        <label>Company Name</label>
        <input type="text" name="company" required>
    </div>

    <div class="input-group">
        <label>Location</label>
        <input type="text" name="company_location" required>
    </div>

    <div class="row">

        <div class="input-group">
            <label>From</label>
            <input type="date" name="exp_from" required>
        </div>

        <div class="input-group">
            <label>To</label>
            <input type="date" name="exp_to" required>
        </div>

    </div>

    <div class="input-group">
        <label>Description</label>
        <textarea name="experience_description" required></textarea>
    </div>
    <button type="button"
                class="delete-btn"
                onclick="removeCard(this)">
            Delete
    </button>

</div>
`;

container.insertAdjacentHTML('beforeend', html);
}



function addProject(){

let container = document.getElementById('projects-container');

let html = `

<div class="card">

    <div class="input-group">
        <label>Project Name</label>
        <input type="text" name="project_name" required>
    </div>

    <div class="input-group">
        <label>Description</label>
        <textarea name="project_description" required></textarea>
    </div>
    <button type="button"
                class="delete-btn"
                onclick="removeCard(this)">
            Delete
    </button>

</div>
`;

container.insertAdjacentHTML('beforeend', html);
}

</script>

</body>
</html>